{% extends 'office_base.html' %}
{% load static %}
{% block css %}
    <style>
        #loading {
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #loading img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            display: block;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
{% endblock css %}
{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <img src="{% static 'img/info.png' %}" class="navbar-brand-img h-100" width="150" alt="main_logo">

            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-flex align-items-center text-dark">
                        <span class="d-sm-inline d-none text-xl"><span
                                class="text-success">Welcome!</span>&nbsp;{{ user.username }}</span>
                    </li>
                    &nbsp;&nbsp;<li class="nav-item dropdown pe-2 d-flex align-items-center">
                    <a href="javascript:" class="nav-link text-body p-0" id="dropdownMenuButton"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog cursor-pointer"></i>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
                        aria-labelledby="dropdownMenuButton">
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="#" onclick="showLoading(event, '{% url 'FDashboard:change' %}')">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold text-warning">Change Password</span>
                                        </h6>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="#" onclick="showLoading(event, '{% url 'Logout' %}')">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold text-danger">LogOut</span>
                                        </h6>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <form id="district-form">
                            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                                <label>Select District</label>
                                <div class="input-group input-group-outline my-3">
                                    <select class="form-control mx-3" id="district-select" name="district">
                                        <option value="" selected>Select a District</option>
                                        <option value="All"{% if selected_district == 'All' %} selected{% endif %}>All
                                        </option>
                                        {% for d in district %}
                                            <option value="{{ d.id }}"{% if selected_district == d.id %}
                                                    selected{% endif %}>{{ d }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div id="loading" style="display:none;">
                <!-- your loading animation code here -->
                <img src="{% static 'img/loading.gif' %}" alt="loading">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-10 mb-md-0 mb-4 scroll">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5 class="text-center">AD List</h5>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center text-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">ID</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder ps-2">Ad Name</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Status</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Total Count</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Recorded Count</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Completion</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Ends By</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Day's Left</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for a in ads %}
                                    <tr>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs text-dark font-weight-bold">{{ forloop.counter }}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <a class="font-weight-bold" href="#"
                                               onclick="showLoading(event, '{% url 'Office:ad_detail' a.id %}')">
                                                <span class="text-xs text-dark font-weight-bold"> {{ a.AdName }} </span>
                                            </a>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            {% if a.status == 'up' %}
                                                <div class="avatar-group mt-2">
                                                    <img src="{% static 'img/arrow/green.png' %}"
                                                         class="avatar avatar-xs rounded-circle" alt="up">
                                                </div>
                                            {% elif a.status == 'down' %}
                                                <div class="avatar-group mt-2">
                                                    <img src="{% static 'img/arrow/orange.png' %}"
                                                         class="avatar avatar-xs rounded-circle" alt="down">
                                                </div>
                                            {% elif a.status == 'error' %}
                                                <div class="avatar-group mt-2">
                                                    <img src="{% static 'img/arrow/red.png' %}"
                                                         class="avatar avatar-xs rounded-circle" alt="error">
                                                </div>
                                            {% elif a.status == 'crtical' %}
                                                <div class="avatar-group mt-2">
                                                    <img src="{% static 'img/arrow/red-circle.png' %}"
                                                         class="avatar avatar-xs rounded-circle" alt="crtical">
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs text-dark font-weight-bold"> {{ a.TotalCount }} </span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs text-dark font-weight-bold"> {{ a.myads_count }} </span>
                                        </td>
                                        <td class="align-middle">
                                            <div class="progress-wrapper w-75 mx-auto">
                                                <div class="progress-info">
                                                    <div class="progress-percentage">
                                                        <span class="text-xs text-dark font-weight-bold"
                                                              data-bs-toggle="tooltip"
                                                              title="{{ a.percentage|floatformat }}%">{{ a.percentage|floatformat }}%</span>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-info "
                                                         style="width: {{ a.percentage|floatformat }}%;"
                                                         role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                         aria-valuemax="100" data-bs-toggle="tooltip"
                                                         title="{{ a.percentage|floatformat }}%"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs text-dark font-weight-bold"> {{ a.EndDate }} </span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs text-dark font-weight-bold" data-bs-toggle="tooltip"
                                                  title="No of days to end"> {{ a.diff }} </span>
                                        </td>
                                    </tr> {% endfor %} </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h6>Ads Ending Soon</h6>
                    </div>
                    <div class="card-body p-3">
                        <div class="timeline timeline-one-side">
                            {% if ten_days or five_days %}
                            {% else %}
                                <div class="timeline-block mb-3">
                <span class="timeline-step">
                  <i class="material-icons text-success text-gradient">notifications</i>
                </span>
                                    <div class="timeline-content">
                                        <h4 class="text-dark text-sm font-weight-bold mb-0">No Ads</h4>
                                    </div>
                                </div>
                            {% endif %}
                            {% for ad in five_days %}
                                <div class="timeline-block mb-3">
                <span class="timeline-step">
                  <i class="material-icons text-danger text-gradient">notifications</i>
                </span>
                                    <div class="timeline-content">
                                        <h6 class="text-dark text-sm font-weight-bold mb-0">{{ ad.AdName }}</h6>
                                        <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ ad.EndDate }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for ad in ten_days %}
                                <div class="timeline-block mb-3">
                <span class="timeline-step">
                  <i class="material-icons text-warning text-gradient">notifications</i>
                </span>
                                    <div class="timeline-content">
                                        <h6 class="text-dark text-sm font-weight-bold mb-0">{{ ad.AdName }}</h6>
                                        <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ ad.EndDate }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        function showLoading(event, url) {
            // Prevent the default behavior of the hyperlink
            event.preventDefault();

            // Display the loading animation
            document.getElementById("loading").style.display = "block";

            // Redirect to the URL after a 1-second delay
            setTimeout(function () {
                window.location.href = url;
            }, 1000);
        }

        $(document).ready(function () {
            var selectedDistrict = '{{ selected_district }}';
            $('#district-select').val(selectedDistrict);
        });

        // Submit form on selecting district
        $('#district-select').change(function () {
            $('#district-form').submit();
        });
    </script>
{% endblock %}

