{% extends 'basev2.html' %}
{% load static %}
{% block css %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbDh-8jCf6_K3ncfVCFpvBxu_Du4J5iy8&callback=initMap"></script>

{% endblock css %}
{% block content %}
 <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">

        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">

          </div>
          <ul class="navbar-nav  justify-content-end">

            <li class="nav-item d-flex align-items-center">
              <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none"></span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">event</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Today's Count</p>
                <h4 class="mb-0" id="sum">{{ data }}</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-info shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">yesterday Count</p>
                <h4 class="mb-0">{{ yesterday }}</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>
        </div>

          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">restart_alt</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Start Date</p>
                <h5 class="mb-0">{{ ad.StartDate|date:"d/m/Y"}}</h5>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>

        </div>
          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-warning shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">flag</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">End Date</p>
                <h5 class="mb-0">{{ ad.EndDate|date:"d/m/Y"}}</h5>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>

        </div>
      </div>
      <div class="row mt-4">

      </div>
        <div class="row mb-6">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4 contain">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <h5 class="text-center">Bus List</h5>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Id</th>
                        <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Map</th>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Bus No</th>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Route</th>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Count</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for bus in result %}
                      <tr>
                      <td class="align-middle text-center text-sm">
                        <div class="d-flex flex-column justify-content-center">
                          <h4 class="mb-0 text-dark" style="font-size: 16px;">{{ forloop.counter }}</h4>
                        </div>
                    </td>
                          <td class="align-middle text-center text-sm">
                        <div class="d-flex flex-column justify-content-center">
                           <input type="checkbox" class="log-checkboxes" name="my-checkbox" data-bus="{{ bus.bus_no }}" value="{{ bus.bus_no }}">
                        </div>
                    </td>
                      <td class="align-middle text-center text-sm">
                        <div class="d-flex flex-column justify-content-center">
                          <h4 class="mb-0 text-dark" style="font-size: 16px;">{{ bus.bus_no }}</h4>
                        </div>
                    </td>

                      <td class="align-middle text-center text-sm">
                        <span class="text-dark font-weight-bold" style="font-size: 16px;">{{ bus.route_no }}</span>
                      </td>

                      <td class="align-middle text-center text-sm">
                        <span class="text-dark font-weight-bold" id="count-{{ bus.bus_no }}" style="font-size: 16px;" >{{ bus.count }}</span>
                      </td>


                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
       <div class="col-lg-6 col-md-6 map-container" style="display:none;">
        <div class="card" id="map" style="height: 400px;"></div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
{% block js %}
<script src="{% static 'js/map.js' %}"></script>
     <script>
function fetchApiData() {
  // Fetch API data using AJAX
  $.ajax({
    url: '/dashboard/today_count', // Replace with the URL of your API view
    type: 'GET',
      data: {
        'ad_name': '{{ ad.AdName }}'
    },
    dataType: 'json',
    success: function (data) {
        //console.log('Success!', data);
    },
    error: function (xhr, status, error) {
        console.log('Error!', error);
    },
    success: function(data) {
      // Update HTML element with API data
      $('#sum').html(data);
      //console.log(data)
    }
  });
}

// Fetch API data every 40 seconds
setInterval(fetchApiData, 40000);
     // Pass the URL to your JavaScript code
    window.imageURL = "{% static 'img/logo.png' %}";

</script>
<script>
  function fetchApiData2() {
      $.ajax({
        url: '/dashboard/bus_count',
        type: 'GET',
        data: {
        'ad_name': '{{ ad.AdName }}'
        },
        success: function(result) {
          // Iterate over the bus objects in the result
          $.each(result, function(index, bus) {
            // Find the table cell with the count for this bus
            var countCell = $('#count-' + bus.bus_no);
            if (countCell.length > 0) {
              // Update the count value in the table cell
              countCell.text(bus.count);
               console.log(bus.count)
            }
          });
        }
      });
    };
  // Fetch API data every 50 seconds
  setInterval(fetchApiData2, 50000);
</script>

{% endblock js %}
