/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.progresss {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
  }

  .progresss::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
  }

  .progresss>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progresss .progresss-left {
    left: 0;
  }

  .progresss .progresss-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }

  .progresss .progresss-left .progresss-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }

  .progresss .progresss-right {
    right: 0;
  }

  .progresss .progresss-right .progresss-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }

  .progresss .progresss-value {
    position: absolute;
    top: 0;
    left: 0;
  }

  .scroll {
    overflow-y: auto;
    overflow-x: auto;
    display: inline-block;
    white-space: nowrap;
}
.bsscroll {
  max-height: 300px;
  overflow-y: auto;
}







