{% extends 'base.html' %}
{% load static %}
{% block css %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbDh-8jCf6_K3ncfVCFpvBxu_Du4J5iy8&callback=initMap"></script>

{% endblock css %}
{% block content %}
 <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">

        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">

          </div>
          <ul class="navbar-nav  justify-content-end">

            <li class="nav-item d-flex align-items-center">
              <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">{{ user.username }}</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">weekend</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Today's Count</p>
                <h4 class="mb-0">50</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>
        </div>
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
          <div class="card" >
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Monthly Count</p>
                <h5 class="mb-0" data-bs-toggle="tooltip" title="Recorded count / Total count">{{ ad.myads_count}} / {{ ad.TotalCount}}</h5>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>

        </div>
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">yesterday Count</p>
                <h4 class="mb-0">45</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>
        </div>

        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">End Date</p>
                <h5 class="mb-0">{{ ad.EndDate|date:"d/m/Y"}}</h5>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>

        </div>
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Total Count In %</p>
                <h5 class="mb-0">{{ ad.percentage|floatformat}}%</h5>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>

        </div>
      </div>
      <div class="row mt-4">

      </div>


      <div class="row mb-6">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4 contain">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <h5 class="text-center">Bus List</h5>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Id</th>
                        <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Map</th>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Bus No</th>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Route</th>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Count Per Day</th>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Count</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for  a, b in mylist %}
                      <tr>
                      <td class="align-middle text-center text-sm">
                        <div class="d-flex flex-column justify-content-center">
                          <h4 class="mb-0 text-dark" style="font-size: 16px;">{{ forloop.counter }}</h4>
                        </div>
                    </td>
                          <td class="align-middle text-center text-sm">
                        <div class="d-flex flex-column justify-content-center">
                           <input type="checkbox" class="log-checkboxes" name="my-checkbox" data-bus="{{ b.0 }}" value="{{ b.0 }}">
                        </div>
                    </td>
                      <td class="align-middle text-center text-sm">
                        <div class="d-flex flex-column justify-content-center">
                          <h4 class="mb-0 text-dark" style="font-size: 16px;">{{ b.0 }}</h4>
                        </div>
                    </td>

                      <td class="align-middle text-center text-sm">
                        <span class="text-dark font-weight-bold" style="font-size: 16px;">{{ b.1 }}  </span>
                      </td>

                      <td class="align-middle text-center text-sm">
                        <span class="text-dark font-weight-bold" style="font-size: 16px;"> {{ ad.ECPD }} </span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-dark font-weight-bold" style="font-size: 16px;"> {{ a.Count }} </span>
                      </td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 map-container" style="display:none;">
        <div class="card h-100" id="map" style="height: 400px;"></div>
        </div>


      </div>

      <div class="row mt-4">


        <div class="col-lg- col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">25/12/22 - 31/12/22</h6>
              <input class="input input--date" name="date" type="date" placeholder="Date" required="">
              <input class="input input--date" name="date" type="date" placeholder="Date" required="">
            </div>
          </div>
        </div>
        <div class="col-lg- col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">25/12/22 - 31/12/22</h6>
              <input class="input input--date" name="date" type="date" placeholder="Date" required="">
              <input class="input input--date" name="date" type="date" placeholder="Date" required="">
            </div>
          </div>
          </div>
        </div>

      </div>

    </div>
  </main>
{% endblock %}
{% block js %}

     <script>


 // Declare a variable to store the interval ID
let updateInterval;

// Get all checkboxes with the "log-checkboxes" class
const checkboxes = document.querySelectorAll('.log-checkboxes');

// Initialize an empty array to store the checked checkbox values
let checkedValues = [];

let map;

// Initialize the map
function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    zoom: 14,
       center: { lat: 9.939093, lng: 78.121719 }
  });

}
// Get the element whose class needs to be changed
const elementToChange = document.querySelector('.contain');

// Add event listener to each checkbox
checkboxes.forEach(function(checkbox) {
  checkbox.addEventListener('change', function() {
    if (this.checked) {

      // Clear any existing update interval
      clearInterval(updateInterval);

      // Start the update interval
      updateInterval = setInterval(fetchData, 20000);

      checkedValues.push(this.value);
      console.log(checkedValues);

      fetchData();

      // Show the map container
      document.querySelector('.map-container').style.display = 'block';

      // Change the class of the element
      elementToChange.classList.remove('col-lg-12', 'mb-md-0', 'mb-4');
      elementToChange.classList.add('col-lg-6', 'mb-md-0', 'mb-4');

    } else {
      const uncheckedBus = this.getAttribute('data-bus');
      checkedValues = checkedValues.filter(value => value !== this.value);
      console.log(checkedValues);

      // Remove the unchecked marker from the map
      markers = markers.filter(marker => {
        if (marker instanceof google.maps.Marker && marker.getTitle() === uncheckedBus) {
          marker.setMap(null);
          return false;
        }
        return true;
      });

      // Clear the update interval when all checkboxes are unchecked
      if (checkedValues.length === 0) {
        clearInterval(updateInterval);

        // Hide the map container
        document.querySelector('.map-container').style.display = 'none';

        // Change the class of the element
        elementToChange.classList.remove('col-lg-6', 'mb-md-0', 'mb-4');
        elementToChange.classList.add('col-lg-12', 'mb-md-0', 'mb-4');


      }
    }
  });
});

let markers = [];

function fetchData() {
  fetch('https://track.siliconharvest.net/get_status.php')
    .then(function(response) {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error('Network response was not ok');
      }
    })
    .then(function(data) {
      // console.log(data);
      // Filter out data with city: "Testing"
      const filteredData = data.filter((item) => item.city !== "Testing");
      // Filter out data that doesn't match the checkedValues
      const newPositions = filteredData.filter((item) => checkedValues.includes(item.bus_no))
                                .map((item) => {
                                  const [latitude, longitude] = item.position.split(",");
                                  return { bus_no: item.bus_no, latitude, longitude };
                                });
      console.log(newPositions);

      // Remove existing markers from the map
      markers.forEach(marker => {
        if (marker instanceof google.maps.Marker) {
          marker.setMap(null);
        }
      });
      markers = [];

      if (newPositions.length > 0) {
        for (const position of newPositions) {
          const marker = new google.maps.Marker({
            position: { lat: parseFloat(position.latitude), lng: parseFloat(position.longitude) },
            map,
            title: position.bus_no,
          });
          markers.push(marker);
        }

        // Fit the map to the bounds of the markers, but only if there are multiple markers
        if (markers.length > 1) {
          const bounds = new google.maps.LatLngBounds();
          for (const marker of markers) {
            bounds.extend(marker.getPosition());
          }
          map.fitBounds(bounds);
        } else {
          // If there's only one marker, set the center and zoom level of the map based on that marker
          const position = markers[0].getPosition();
          map.setCenter(position);
          map.setZoom(15);
        }
      } else {
        console.error("No positions found.");
      }
    })
    .catch(function(error) {
      console.error('There was a problem with the fetch operation:', error);
    });
}
    </script>
{% endblock js %}
