{% extends 'base.html' %}
{% load static %}
{% block css %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbDh-8jCf6_K3ncfVCFpvBxu_Du4J5iy8&callback=initMap"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock css %}
{% block content %}
 <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">

        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">

          </div>
          <ul class="navbar-nav  justify-content-end">

            <li class="nav-item d-flex align-items-center">
              <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">{{ user.username }}</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">event</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Today's Count</p>
                <h4 class="mb-0" id="sum">{{ json_data }}</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card" >
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">add_task</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Monthly Count</p>
                <h5 class="mb-0" data-bs-toggle="tooltip" title="Recorded count / Total count">{{ ad.myads_count}} / {{ ad.TotalCount}}</h5>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>

        </div>

        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-warning shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">flag</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">End Date</p>
                <h5 class="mb-0">{{ ad.EndDate|date:"d/m/Y"}}</h5>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>

        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-info shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">verified</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Completion In %</p>
                <h5 class="mb-0">{{ ad.percentage|floatformat}}%</h5>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">

            </div>
          </div>

        </div>
      </div>
      <div class="row mt-4">

      </div>



      <div class="row mb-6">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4 contain">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <h5 class="text-center">Bus List</h5>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Id</th>
                        <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Map</th>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Bus No</th>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Route</th>
                      <th class="text-center text-uppercase text-dark text-xl font-weight-bolder">Count</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for bus in result|dictsort:"bus_no" %}
                      <tr>
                      <td class="align-middle text-center text-sm">
                        <div class="d-flex flex-column justify-content-center">
                          <h4 class="mb-0 text-dark" style="font-size: 16px;">{{ forloop.counter }}</h4>
                        </div>
                    </td>
                          <td class="align-middle text-center text-sm">
                        <div class="d-flex flex-column justify-content-center">
                           <input type="checkbox" class="log-checkboxes" name="my-checkbox" data-bus="{{ bus.bus_no }}" value="{{ bus.bus_no }}">
                        </div>
                    </td>
                      <td class="align-middle text-center text-sm">
                        <div class="d-flex flex-column justify-content-center">
                          <h4 class="mb-0 text-dark" style="font-size: 16px;">{{ bus.bus_no }}</h4>
                        </div>
                    </td>

                      <td class="align-middle text-center text-sm">
                        <span class="text-dark font-weight-bold" style="font-size: 16px;">{{ bus.route_no }}</span>
                      </td>

                      <td class="align-middle text-center text-sm">
                        <span class="text-dark font-weight-bold" id="count-{{ bus.bus_no }}" style="font-size: 16px;" >{{ bus.count }}</span>
                      </td>


                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
       <div class="col-lg-6 col-md-6 map-container" style="display:none;">
        <div class="card h-100" id="map" style="height: 400px;"></div>
        </div>
      </div>

      <div class="row mt-4">

        <div class="col-lg-12 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-info shadow-success border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-bar" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">From - {{ start_date_str }} To - {{ end_date_str }}</h6>
              <!-- Create a form with date range inputs and a submit button -->
                <form id="date-range-form">
                    <input type="hidden" id="ad-name" name="ad_name" value="{{ ad.AdName }}">
                   <label class="text-sm " for="start-date">Start date:</label>
                  <input type="text" id="start-date" name="start_date">

                  <label class="text-sm " for="end-date">End date:</label>
                  <input type="text" id="end-date" name="end_date">

                 <button class="btn btn-outline-info btn-sm mb-0" type="button" id="submit-button">Submit</button>
                </form>
                <div class="d-flex">
                <p class="mb-0 text-sm text-danger" id="error-container" style="display: none;"> No data available for selected dates. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </main>
{% endblock %}
{% block js %}
<script src="{% static 'js/map.js' %}"></script>
     <script>
function fetchApiData() {
  // Fetch API data using AJAX
  $.ajax({
    url: '/dashboard/today_count', // Replace with the URL of your API view
    type: 'GET',
      data: {
        'ad_name': '{{ ad.AdName }}'
    },
    dataType: 'json',
    success: function (json_data) {
        console.log('Success!', json_data);
    },
    error: function (xhr, status, error) {
        console.log('Error!', error);
    },
    success: function(json_data) {
      // Update HTML element with API data
      $('#sum').html(json_data);
      //console.log(json_data)
    }
  });
}

// Fetch API data every 40 seconds
setInterval(fetchApiData, 40000);
     // Pass the URL to your JavaScript code
    window.imageURL = "{% static 'img/logo.png' %}";

</script>
<script>
    function fetchApiData2() {
      $.ajax({
        url: '/dashboard/bus_count',
        type: 'GET',
        data: {
        'ad_name': '{{ ad.AdName }}'
        },
        success: function(result) {
          // Iterate over the bus objects in the result
          $.each(result, function(index, bus) {
            // Find the table cell with the count for this bus
            var countCell = $('#count-' + bus.bus_no);
            if (countCell.length > 0) {
              // Update the count value in the table cell
              countCell.text(bus.count);
               //console.log(bus.count)
            }
          });
        }
      });
    };

// Fetch API data every 40 seconds
setInterval(fetchApiData2, 40000);
</script>

<script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
<script>

var ctx = document.getElementById("chart-bar").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: {{ labels|safe }},
         datasets: [{
              id: 'chart-data',
              label: "Total Count",
              tension: 0,
              borderWidth: 0,
              pointRadius: 5,
              pointBackgroundColor: "rgba(255, 255, 255, .8)",
              pointBorderColor: "transparent",
              borderColor: "rgba(255, 255, 255, .8)",
              borderColor: "rgba(255, 255, 255, .8)",
              borderWidth: 4,
              backgroundColor: "transparent",
              fill: true,
              data: {{ data|safe }},
              maxBarThickness: 6
    }],
  },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
</script>
    <!-- Initialize the date range picker -->
<script>
const minDate = "{{ ad.StartDate|date:"d/m/Y"}}";
   flatpickr("#start-date", {
    dateFormat: "d/m/Y",
    defaultDate: "{{ start_date }}",
    minDate: minDate,
    maxDate: new Date(),
   });
  flatpickr("#end-date", {
    dateFormat: "d/m/Y",
    defaultDate: "{{ end_date }}",
    maxDate: new Date(),
  });
  const submitButton = document.getElementById("submit-button");
  const startDateInput = document.getElementById("start-date");
  const endDateInput = document.getElementById("end-date");
  const adNameInput = document.getElementById("ad-name");

  submitButton.addEventListener("click", () => {
    const startDate = startDateInput.value;
    const endDate = endDateInput.value;
    const adName = adNameInput.value;

    fetch("{% url 'FDashboard:get_chart_data' %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify({ start_date: startDate, end_date: endDate, ad_name: adName }),
    })
      .then((response) => response.json())
  .then((data) => {
    const hasData = data;
    if (hasData) {
      const labels = data.labels;
      const chartData = data.data;
      const chart = Chart.getChart(ctx);
      chart.data.labels = labels;
      chart.data.datasets.find((d) => d.id === "chart-data").data = chartData;
      chart.update();
    } else {
      const errorContainer = document.getElementById("error-container");
      errorContainer.innerHTML = "No data available for selected dates.";
      errorContainer.style.display = "block";
    }
  })
  .catch((error) => {
    console.error(error);
  });
  });
</script>

{% endblock js %}
