{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">

        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">

          </div>
          <ul class="navbar-nav  justify-content-end">

            <li class="nav-item d-flex align-items-center">
              <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">{{ user.username }}</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-6 col-md-6">
        <div class="card h-100">
          <div class="card-header pb-0">
             <h6 class="text-center">Route wise</h6>
          </div>
          <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center text-center mb-0" id="my-table">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-dark text-xs font-weight-bolder">S.No</th>
                        <th class="text-uppercase text-dark text-xs font-weight-bolder">Route &nbsp;<a href="#" onclick="sortTable(2, 'asc')"><i class="fa fa-sort" id="sortButton"></i></a></th>
                      <th class="text-uppercase text-dark text-xs font-weight-bolder">Available slot</th>
                      <th class="text-uppercase text-dark text-xs font-weight-bolder">Filled slot</th>
                      <th class="text-uppercase text-dark text-xs font-weight-bolder">Free slot</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for row in data %}
                    <tr>
                    <td>
                      <span class="text-xs text-dark font-weight-bold">{{ forloop.counter }}</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                       <a class="font-weight-bold" href="{% url 'FDashboard:route_summary' %}?sheet_name={{ row.0 }}">
                        <span class="text-xs text-dark font-weight-bold"> {{ row.0 }} </span>
                      </a>
                    </td>
                    <td>
                      <span class="text-xs text-dark font-weight-bold">{{ row.1 }}</span>
                    </td>
                    <td>
                      <span class="text-xs text-dark font-weight-bold">{{ row.2 }}</span>
                    </td>
                    <td>
                      <span class="text-xs text-dark font-weight-bold">{{ row.3 }}</span>
                    </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="card h-100">
          <div class="card-header pb-0">
             <h6 class="text-center">Bus wise</h6>
          </div>
          <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center text-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-dark text-xs font-weight-bolder">S.No</th>
                      <th class="text-uppercase text-dark text-xs font-weight-bolder">Bus No</th>
                      <th class="text-uppercase text-dark text-xs font-weight-bolder">Route</th>
                      <th class="text-uppercase text-dark text-xs font-weight-bolder">Total slot</th>
                      <th class="text-uppercase text-dark text-xs font-weight-bolder">Filled slot</th>
                      <th class="text-uppercase text-dark text-xs font-weight-bolder">Free slot</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for row in data2 %}
                    <tr>
                    <td>
                      <span class="text-xs text-dark font-weight-bold">{{ forloop.counter }}</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                       <a class="font-weight-bold" href="{% url 'FDashboard:route_summary' %}?sheet_name={{ row.1 }}">
                        <span class="text-xs text-dark font-weight-bold"> {{ row.0 }} </span>
                      </a>
                    </td>
                     <td class="align-middle text-center text-sm">
                       <a class="font-weight-bold" href="{% url 'FDashboard:route_summary' %}?sheet_name={{ row.1 }}">
                        <span class="text-xs text-dark font-weight-bold"> {{ row.1 }} </span>
                      </a>
                    </td>
                    <td>
                      <span class="text-xs text-dark font-weight-bold">{{ row.2 }}</span>
                    </td>
                    <td>
                      <span class="text-xs text-dark font-weight-bold">{{ row.3 }}</span>
                    </td>
                    <td>
                      <span class="text-xs text-dark font-weight-bold">{{ row.4 }}</span>
                    </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </main>

{% endblock %}
{% block js %}
    <script>
function sortTable(columnIndex, sortOrder) {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("my-table");
  switching = true;
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("td")[columnIndex];
      y = rows[i + 1].getElementsByTagName("td")[columnIndex];

      if (sortOrder === "asc") {
        if (isNumber(x.innerHTML) && isNumber(y.innerHTML)) {
          if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        } else if (isString(x.innerHTML) && isString(y.innerHTML)) {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        } else if (isNumber(x.innerHTML) && isString(y.innerHTML)) {
          shouldSwitch = true;
          break;
        }
      } else if (sortOrder === "desc") {
        if (isNumber(x.innerHTML) && isNumber(y.innerHTML)) {
          if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        } else if (isString(x.innerHTML) && isString(y.innerHTML)) {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        } else if (isString(x.innerHTML) && isNumber(y.innerHTML)) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}

function isNumber(value) {
  return !isNaN(parseFloat(value)) && isFinite(value);
}

function isString(value) {
  return isNaN(parseFloat(value));
}
    </script>
{% endblock %}
