{% extends 'franchise_base.html' %}
{% load static %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <img src="{% static 'img/info.png' %}" class="navbar-brand-img h-100" width="150" alt="main_logo">
                <h6 class="font-weight-bolder mb-0">Spot Ad</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                </div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-flex align-items-center text-dark">
                        <span class="d-sm-inline d-none text-xl"><span
                                class="text-success">Welcome!</span>&nbsp;{{ user.username }}</span>
                    </li>
                    &nbsp;&nbsp;<li class="nav-item dropdown pe-2 d-flex align-items-center">
                    <a href="javascript:" class="nav-link text-body p-0" id="dropdownMenuButton"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog cursor-pointer"></i>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
                        aria-labelledby="dropdownMenuButton">
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="#" onclick="showLoading(event, '{% url 'FDashboard:change' %}')">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold text-warning">Change Password</span>
                                        </h6>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="#" onclick="showLoading(event, '{% url 'Logout' %}')">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold text-danger">LogOut</span>
                                        </h6>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">

            <div class="col-lg-12 col-md-6">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        {% if sheets %}
                            <form id="sheet-form">
                                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                                    <div class="input-group input-group-outline my-3">
                                        <select class="form-control" id="sheet-select" name="ad">
                                            <option value="">Select a Ad</option>
                                            <option value="All">All</option>
                                            {% for r in sheets.keys %}
                                                <option value="{{ r }}">{{ r }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-group input-group-outline my-3 p-3">
                                        <a class="btn btn-outline-success btn-sm mb-0"
                                           href="{% url 'FDashboard:spot_ad' %}?select={{ selected_sheet }}"
                                           type="button" id="export-excel">Export to Excel</a>
                                    </div>
                                </div>
                            </form>

                        {% else %}
                            <h1>Contact admin to update data.</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4"></div>
        {% if selected_sheet %}
            {% if selected_sheet == "All" %}
                {% for sheet_name, sheet_data in sheets.items %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card my-4">
                                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                    <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3">
                                        <h4 class="text-white text-center text-capitalize ps-3">Ad
                                            Name: {{ sheet_name }}</h4>
                                    </div>
                                </div>
                                <div class="card-body px-0 pb-2">
                                    <div class="table-responsive p-0">
                                        <table class="table align-items-center text-center mb-0">
                                            <thead>
                                            <tr>
                                                {% for col_name in sheet_data.header %}
                                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">{{ col_name }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for row in sheet_data.data %}
                                                <tr>
                                                    {% for cell in row %}
                                                        <td>
                                                            <p class="text-xs text-dark font-weight-bold mb-1">{{ cell }}</p>
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-12">
                        <div class="card my-4">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3">
                                    <h4 class="text-white text-center text-capitalize ps-3">Ad
                                        Name: {{ selected_sheet }}</h4>
                                </div>
                            </div>
                            <div class="card-body px-0 pb-2">
                                <div class="table-responsive p-0">
                                    <table class="table align-items-center text-center mb-0">
                                        <thead>
                                        <tr>
                                            {% for col_name in sheet_data.header %}
                                                <th class="text-uppercase text-dark text-xs font-weight-bolder">{{ col_name }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in sheet_data.data %}
                                            <tr>
                                                {% for cell in row %}
                                                    <td>
                                                        <p class="text-xs text-dark font-weight-bold mb-1">{{ cell }}</p>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript">

        // Submit form on selecting ad
        $('#sheet-select').change(function () {
            $('#sheet-form').submit();
        });

        // Trigger download on clicking Excel export button
        // Trigger download on clicking Excel export button
        $(document).ready(function () {
        $('#export-excel').click(function (event) {
            event.preventDefault();
            // Show loading animation
            $('#loading').show();
            // Create a hidden iframe with the download URL as its src
            var iframe = $('<iframe>', {
                src: $(this).attr('href'),
                style: 'display: none;'
            }).appendTo('body');
            // Wait for the download to start before hiding the loading animation
            setTimeout(function () {
                $('#loading').hide();
            }, 1000);
        });
    });

        $(document).ready(function () {
            $('form').submit(function () {
                $('#loading').show();
            });
        });

    </script>
    <script>
        function showLoading(event, url) {
            // Prevent the default behavior of the hyperlink
            event.preventDefault();

            // Display the loading animation
            document.getElementById("loading").style.display = "block";

            // Redirect to the URL after a 1-second delay
            setTimeout(function () {
                window.location.href = url;
            }, 1000);
        }
    </script>

{% endblock %}
